body, html {
  
  background-color: #A0102C;
  
  margin: 0;
  padding: 0;


  /*
  background-image: "assets/img/FIRENOODLESFRONT.png";
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;*/


}

/*center title*/






#front {
  width: 250px;
  height: 250px;
  position: relative;
  top:200px;
  left: 500px;
}

#right {
  width: 250px;
  height: 250px;
  position: absolute;
  top:200px;
  left: 750px;
  animation: rightmove 1s ease;
  opacity: 1;
  transform:scale(.8);
}
#left {
  width: 250px;
  height: 250px;
  position: absolute;
  top:200px;
  left: 250px;
  animation: leftmove 1s ease;
  opacity: 1;
  transform:scale(.8);
}
#right1 {
   width: 250px;
  height: 250px;
  position: absolute;
  top:200px;
  left: 1000px;
  animation: rightmove1 1s 1s, op 1s;
  opacity: 1;
  transform:scale(.75);
}
#left1 {
  width: 250px;
  height: 250px;
  position: absolute;
  top:200px;
  left: 0px;
  animation: leftmove1 1s 1s ease, op 1s;
  opacity: 1;
  transform:scale(.75);
}

@keyframes op {
  0% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

@keyframes leftmove1 {
  0% {
    top:200px;
    left: 500px;
    width: 250px;
    height: 250px;
    opacity: 0;
    transform:scale(1);
  }
  100% {
    top:200px;
    left: 0px;
    width: 250px;
    height: 250px;
    opacity: 1;
    transform:scale(.75);
  }

}
@keyframes rightmove1 {
  0% {
    top:200px;
    left: 500px;
    width: 250px;
    height: 250px;
    opacity: 0;
    transform:scale(1);
  }
  100% {
    top:200px;
    left: 1000px;
    width: 250px;
    height: 250px;
    opacity: 1;
    transform:scale(.75);
  }

}

@keyframes leftmove {
  0% {
    top: 200px;
    left: 500px;
    width: 250px;
    height: 250px;
    opacity: 0;

    transform:scale(1);

  }
  100 % {
    position: fixed;
    top: 200px;
    left: 250px;
    width: 250px;
    height: 250px;
    opacity: 1;
    transform:scale(.8);

  }
}

@keyframes rightmove {
  0% {
    top: 200px;
    left: 500px;
    width: 250px;
    height: 250px;
    opacity: 0;

    transform:scale(1);

  }
  100 % {
    position: fixed;
    top: 200px;
    left: 750px;
    width: 250px;
    height: 250px;
    opacity: 1;
    transform:scale(.8);

  }
}



.navbar {
  /*overflow: hidden;
  background-color: #271C1E;
  display:inline-block;
  /*
  float: left;
  width: 100%;
  margin-top: 0px;
  border: 0;
  
  width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
 
  
  position: fixed;
  */

  width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #271C1E;
    /* PROBLEM 1: Make the header stick to the top as you scroll */
    position: fixed;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  margin-left: 80px;
  line-height: 80px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Galada', cursive;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}



.container {
  
  
  align-items: center;
}


/*
.buttons{
  width: 90%;
  display: flex;
  flex-direction: row;
  position: relative;
  bottom:250px;
  right:50px;
}
*/

/*

.text {
  text-align: center;
  font-family: 'Spicy Rice', cursive;
  font-size: 60px;

}

/* Overall carousel dimensions */
.carousel,
.carousel-image {
  width: 400px;
  height: 400px;
}

/* Carousel frame setup */

.carousel {
  position: relative;
  left: 250px;
  top: 280px;
  overflow: hidden;
  flex-direction: row;

}


#carousel1 {
  


}


#title1 {
  text-align: center;
  font-family: 'Neucha', cursive;
  color:white;
  
}


#title2 {
  text-align: center;
  font-family: 'Spicy Rice', cursive;
}



#carousel-image-row {

  display: flex;
  flex-direction: row;
 
  position: relative;
  left: 0px;
 
  transition: 0.5s all;
}

.carousel-image img {
  height: 100%;
  width: auto;
}



.hidden {
  visibility: hidden;
}



#carousel-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

#button-next,
#button-previous {
  background: none;
  border: none;
  cursor: pointer;

  outline: none;
}


